*{
    border: 0;
    margin:0;
    padding:0;
}

body{
    background-color: #9D6BFF;
    overflow-x: hidden;
}

.navpai{
    width: 90vw;
    height: 13vh;
    display: flex;
    align-items: center;
}
.cabecalho{
    position: relative;
    width: 80vw;
    height: 13vh;
    display: flex;
    align-items:center;
}

.navbar{
    width: 70vw;
    height: 7.5vh;
    background-color: #fff;
    display: flex;
    margin: 0 auto;
    border-radius: 100vw;
    margin-left: 10vw;
}

.logo {
    width: 15vw;
    height: 7.5vh;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.nova:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

.logo p{
    font-size: 1.2vw;
    
}

nav a:hover{
    color: #24065f;
  }

.mente{
    color: #5E17EB;
  }

.navlinks{
    width: 48vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navlinks a{
    font-size: 1.21vw;
    color: #5F5F5F;
    text-decoration: none;
}

.homeroxa {
    color: #5E17EB;
}

.profilepic{
    width: 3.5vw;
    height: 7.5vh;
    border-radius: 100vw;
    margin-left: 2vw;
    background-image:url(images/fotoperfil.png);
    background-size: cover;
    cursor: pointer;
    
    
}

.mensagem{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textocuidando {
    width: 50vw;
    height: 30vh;
    text-align: center;
    color: #fff;
    
}

.logodois{
    width: 20vw;
    height: 15vh;;
    margin: 0 auto;
    margin-top: 2vh;
}

.logodois img {
    width: 6.5vw;
    height: 15vh;
}

.ola{
    font-size: 1.6vw;
}

.imagens{
    width: 80vw;
    height: 40vh;
    background-color: #F1F1F1;
    position: absolute;
    left:10vw;
    top:65vh;
    border-radius: 4vw;
    display: flex;
    align-items: center;
}

.imgarea1{
    width: 33vw;
    height: 35vh;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5vw;
    flex-direction: column;

    
}

.imgarea2{
    width: 25vw;
    height: 35vh;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
 
}

.imgarea3{
    width: 33vw;
    height: 35vh;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5vw;
 
}

.imgarea1 a{
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
}
.imgarea2 a{
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
}
.imgarea3 a{
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
}



.rodape{
    background-color: #fff;
    width: 100vw;
    height: 33vh;
    margin-top: 5vh;
}

.nav_responsiva {
    display:none;
    justify-content:space-around;
    align-items:center;
    font-family:Inter;
    background-color: #9D6BFF;
    height:8vh;
    border-bottom:1px solid #AFAFAF;
  }
  
  .nav-list {
    list-style:none;
    display:none;
  }
  
  .nav-list.active {
    background-color:#FFF;
  }
  
  .nav-list li {
    letter-spacing:3px;
    margin-left:32px;
  }
  
  .nav-list ul {
    width:80vw;
    height:92vh;
    display: none;
  }
  
  .nav-list li a {
    text-decoration:none;
    color:#315A94;
  }
  
  .mobile-menu {
    display:none;
    cursor:pointer;
    margin-left:70vw;
  }
  
  .mobile-menu div {
    width:32px;
    height:2px;
    background:#ADADAD;
    margin:8px;
    transition:0.3s;
  }
  
  @media only screen and (min-width:240px){
    @media only screen and (max-width:1023px){

        .cabecalho{
            display: none;
          }

          .profilepic{
            display: none;
          }
      body{
        background-image: none;
        overflow-x: hidden;
      }
  
      #nav_header{
        display: none;
      }

      .mensagem{
        height: 60vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .textocuidando {
        width: 50vw;
        height: 30vh;
        text-align: center;
        color: #fff;
        
    }

    .textocuidando p {
     font-size: 3vw;
      
  }

  .logodois img{
    width: 13vw;
    height: 13vw;
  }

  .imagens{
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    background-color: #F1F1F1;
    position: absolute;
    left:10vw;
    top:65vh;
    border-radius: 4vw;
    display: flex;
    align-items: center;
  }

  .rodape{
    display: none;
  }



  
      #logo, #mente-roxo{
        font-size: 24px;
        margin-top: -5.8vh;
      }
  
      #menu_responsivo{
        margin-top: -3.5vh;
        margin-right: 3vw;
        display: block;
      }
  
      #acessibilidade{
        width: 5vw;
      }
      
      #acessibilidade-hid{
        width: 5vw;
      }
  
      .Login{
        display: none;
      }
  
      #logo{
        position: absolute;
        margin-top: -27px;
        font-size: 26px;
      }
     
      .linha_responsivo{
        margin-top: -6vh;
        display: block;
      }
  
  
  
      .nav_responsiva {
        display:flex;
        width: 99vw;
    }
  
      .nav-list {
          position:absolute;
          top:8vh;
          right:0;
          width:200px;
          height:92vh;
          flex-direction:column;
          align-items:center;
          justify-content:space-around;
          transition:0.3s ease-in;
          display:flex;
      }
  
      .nav-list li {
          margin-left:0;
          opacity:0;
      }
  
      .mobile-menu {
          display:block;
          margin-left: 86%;
      }
      
      .nav-list.active {
          z-index:10;
          transform: translateX(0);
      }
      
      @keyframes navLinkFade {
          from {
              opacity:0;
              transform:translateX(50px);
          }
          to {
              opacity:1;
              transform:translateX(0);
          }
      }
  
      
        .mobile-menu.active .line1 {
          transform:rotate(-45deg) translate(-8px, 8px);
        }
        
        .mobile-menu.active .line2 {
          opacity:0;
        }
        
        .mobile-menu.active .line3 {
          transform:rotate(45deg) translate(-5px, -7px);
        }
      }}
  
      @media only screen and (min-width:375px){
        @media only screen and (max-width: 659px){
      
      
          .nav_responsiva {
            display:flex;
        }
      
        .nav-list {
            position:absolute;
            top:8vh;
            right:0;
            width:200px;
            height:92vh;
            flex-direction:column;
            align-items:center;
            justify-content:space-around;
            transition:0.3s ease-in;
            display:flex;
        }
      
        .nav-list li {
            margin-left:0;
            opacity:0;
        }
      
        .mobile-menu {
            display:block;
            
        }
        
        .nav-list.active {
            z-index:10;
            transform: translateX(0);
        }
        
        @keyframes navLinkFade {
            from {
                opacity:0;
                transform:translateX(50px);
            }
            to {
                opacity:1;
                transform:translateX(0);
            }
        }
        
        .mobile-menu.active .line1 {
          transform:rotate(-45deg) translate(-8px, 8px);
        }
        
        .mobile-menu.active .line2 {
          opacity:0;
        }
        
        .mobile-menu.active .line3 {
          transform:rotate(45deg) translate(-5px, -7px);
        }
        }}
  
  @media only screen and (min-width:375px){
    @media only screen and (max-width: 659px){
  
      .nav_responsiva {
        display:flex;
    }
  
    .nav-list {
        position:absolute;
        top:8vh;
        right:0;
        width:200px;
        height:92vh;
        flex-direction:column;
        align-items:center;
        justify-content:space-around;
        transition:0.3s ease-in;
        display:flex;
    }
  
    .nav-list li {
        margin-left:0;
        opacity:0;
    }
  
    .mobile-menu {
        display:block;
        
    }
    
    .nav-list.active {
        z-index:10;
        transform: translateX(0);
    }
    
    @keyframes navLinkFade {
        from {
            opacity:0;
            transform:translateX(50px);
        }
        to {
            opacity:1;
            transform:translateX(0);
        }
    }
    
    .mobile-menu.active .line1 {
      transform:rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity:0;
    }
    
    .mobile-menu.active .line3 {
      transform:rotate(45deg) translate(-5px, -7px);
    }
  }}
  
  @media only screen and (min-width:409px){ 
    @media only screen and (max-width: 659px){
  .nav_responsiva {
    display: flex;
    width: 99vw;
  }
  
  .nav-list {
  position: absolute;
  top: 8vh;
  right: 0px;
  width: 200px;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.3s ease-in;
  display: flex;
  }
  
  .nav-list li {
    margin-left:0;
    opacity:0;
  }
  
  .mobile-menu {
    display:block;
    
  }
  
  .nav-list.active {
  z-index: 10;
  transform: translateX(0);
  padding-left: 0%;
  }
  
  @keyframes navLinkFade {
    from {
        opacity:0;
        transform:translateX(50px);
    }
    to {
        opacity:1;
        transform:translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform:rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity:0;
  }
  
  .mobile-menu.active .line3 {
    transform:rotate(45deg) translate(-5px, -7px);
  }
  
    }}
  
    @media only screen and (min-width:425px){ 
      @media only screen and (max-width: 659px){
    
        .primeiraparte_titulo{
          margin-left: -12vw;
        }
    
        .nav_responsiva {
          display:flex;
      }
    
       
    
      .nav-list {
          position:absolute;
          top:8vh;
          right:0;
          width:200px;
          height:92vh;
          flex-direction:column;
          align-items:center;
          justify-content:space-around;
          transition:0.3s ease-in;
          display:flex;
      }
    
      .nav-list li {
          margin-left:0;
          opacity:0;
      }
    
      .mobile-menu {
          display:block;
          
      }
      
      .nav-list.active {
          z-index:10;
          transform: translateX(0);
      }
      
      @keyframes navLinkFade {
          from {
              opacity:0;
              transform:translateX(50px);
          }
          to {
              opacity:1;
              transform:translateX(0);
          }
      }
      
      .mobile-menu.active .line1 {
        transform:rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity:0;
      }
      
      .mobile-menu.active .line3 {
        transform:rotate(45deg) translate(-5px, -7px);
      }
    }}

  
